.todoHeader {
	padding: 35px 0px 15px 0px;
}

h1 {
	margin: 0 auto;
	font-size: 3em;
	letter-spacing: 0.02em;
	line-height: .9em;
	text-align: center;
	color: #ffc85b;
}

.App {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 10% 1fr 10%;
}

.todosWrapper {
	margin: 0 auto;
	grid-column: 2 / 3;
}

.Form {
	margin: 0 auto;
	grid-column: 2 / 3;
	padding: 30px 0px;
	height: 80px;
}

.inputWrapper {
	vertical-align: top;	
	letter-spacing: 0.02em;
	padding-top: 10px;
	font-size: 2em;
}

.inputField {
	margin-top: 5px;
	padding: 5px 8px;
	width: 400px;
	height: 39px;
}

.clearAll {
	display: block;
}

.List {
	font-size: 1.2em;
	letter-spacing: 0.02em;
}

.todoWrapper:hover {
	background-color: #ffc85b;
}

.todoText {
	padding-left: 5px;
}

.button-secondary {
	background: #ffd089;
}